{% extends 'page_base.html' %}

{% block title %}
    Blog - {{ block.super }}
{% endblock %}

{% block content %}

<div class="jumbotron">
      <div class="container">
        <h1 class="display-4">About Our Online Store</h1>
        <p class="lead">Welcome to our online store! We are dedicated to providing the best shopping experience for our customers.</p>
        <hr class="my-4">
        <p>At our store, we offer a wide range of high-quality products at competitive prices. We strive to meet the needs and preferences of our customers by constantly updating our inventory with the latest trends and designs.</p>
        <p>With a user-friendly interface and secure payment options, we ensure a seamless and enjoyable shopping experience. Our customer service team is always ready to assist you with any inquiries or concerns.</p>
        <p>Thank you for choosing our online store. We appreciate your support and look forward to serving you.</p>
        <a class="btn btn-primary btn-lg" href="listing.html" role="button">Shop Now</a>
      </div>
    </div>

{% endblock %}